<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>Markup Standalone</title>
    <link rel="stylesheet" type="text/css" href="css/markup.css">
    <link rel="stylesheet" type="text/css" href="css/highlightjs.min.css">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.2/css/aui.min.css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.2/css/aui-experimental.min.css" media="all">
    <link rel="stylesheet" href="css/fakeLoader.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.2/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.2/js/aui-experimental.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.2/js/aui-datepicker.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.2/js/aui-soy.min.js"></script>
</head>

<body>
    <div style="max-width: 1000px; margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;">
        <cut-me-confluence>
            <div id="app">
                <div class="container">
                    <section id="git4c-main-content" class="git4c-no-right-padding" role="main">
                        <overlay>
                            <div class="aui-page-panel git4c-no-top-margin">
                                <div class="aui-page-panel-inner">
                                    <div id="content-nav" class="aui-page-panel-nav expanded" v-show="!sticky">
                                        <div id="git4c-branch-arrow-holder">
                                            <span id="git4c-fullscreen-trigger">
                                                <fullscreen-trigger></fullscreen-trigger>
                                            </span>
                                            <span ref="sticky_toolbar_trigger_div" id="git4c-sticky-toolbar-trigger">
                                                <sticky-toolbar-trigger ref="sticky_toolbar_trigger"></sticky-toolbar-trigger>
                                            </span>
                                            <span id="git4c-nav-collapse-span">
                                                <nav-collapse></nav-collapse>
                                            </span>
                                        </div>
                                        <div class="git4c-branch-holder">
                                            <branch class="blur"></branch>
                                        </div>
                                        <div class="markup-action-buttons">
                                            <update-now style="display: none"></update-now>
                                        </div>
                                        <div class="header blur">
                                            <h3 class="header" style="display: inline-block">Files</h3>
                                            <a ref="globtooltip" style="margin-left: 5px;" class="aui-icon aui-icon-small aui-iconfont-error"></a>
                                        </div>
                                        <div id="aui-vnav" class="aui-flatpack blur">
                                            <nav class="aui-navgroup aui-navgroup-vertical">
                                                <div class="aui-navgroup-inner">
                                                    <div class="tree">
                                                        <treeview :model="tree"></treeview>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                        <!--<div class="blur">-->
                                            <!--<globs></globs>-->
                                        <!--</div>-->
                                    </div>
                                    <section class="aui-page-panel-content git4c-no-padding">
                                        <div class="git4c-markup-content" id="git4c-markup-content">
                                            <router-view></router-view>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </overlay>
                    </section>
                </div>
            </div>

            <template id="markup">
                <div>
                    <div class="markup">
                        <div class="aui-message aui-message-hint" v-if="locationPath==='' && !tree">
                            <div>
                                <p style="text-align:center;">There are no files available. Choose a different branch or revalidate your filters.</p>
                            </div>
                        </div>
                        <div  v-if="locationPath==='' && tree">
                            <div style="top:50%; left: 50%; width: 100%; padding-top:50px;">
                                <div id="spinner1" class="spinner6" style="width:60px; margin: 0 auto;">
                                    <div class="rect1" style="background-color: rgb(204, 214, 7);"></div>
                                    <div class="rect2" style="background-color: rgb(204, 214, 7);"></div>
                                    <div class="rect3" style="background-color: rgb(204, 214, 7);"></div>
                                    <div class="rect4" style="background-color: rgb(204, 214, 7);"></div>
                                    <div class="rect5" style="background-color: rgb(204, 214, 7);"></div>
                                </div>
                                <div>
                                    <p style="font-family: Arial; color: rgb(204, 214, 7); font-weight: bold; font-size: 20pt; text-align: center;">
                                        Loading file content</p>
                                </div>
                                <div>
                                    <p style="font-family: Arial; color: rgb(112, 112, 112); font-weight: normal; font-size: 14pt; text-align: center;">
                                        It shouldn't take more than few seconds</p>
                                </div>
                            </div>
                        </div>
                        <div v-show="locationPath!==''">
                            <div>
                                <div id="git4c-breadcrumbs-div"
                                     style="display: flex; align-items: center; justify-content: space-between; z-index: 90"
                                     class="git4c-border-bottom">
                                        <div style="width:100%; display: flex; align-items: center;
                                        position: relative; flex-wrap: wrap; justify-content: space-between">
                                        <span style="padding-left: 20px;">
                                            <span style="padding-right: 5px" v-show="sticky">
                                                <button v-if="false" class="aui-button" v-on:click="disableFullscreen()">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-unfocus" style="margin-right: 1px">
                                                        Disable fullscreen mode
                                                    </span>
                                                </button>
                                                <button id="git4c-filetree-expand_button" title="Show file tree" class="aui-button" v-on:click="toggleSidebar()">
                                                    <span  class="aui-icon aui-icon-small aui-iconfont-arrows-right" style="margin-right: 1px">
                                                        Show file tree
                                                    </span>
                                                </button>
                                                <button id="git4c-toolbar_filetree-button" title="Open tree" data-aui-trigger aria-controls="git4c-tree-dialog" class="aui-button" v-on:click="openTree()">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-nav-children-large" style="margin-right: 1px">
                                                        Open tree
                                                    </span>
                                                </button>
                                                <aui-inline-dialog id="git4c-tree-dialog" alignment="bottom center">
                                                        <div class="aui-inline-dialog-contents git4c-tree-container">
                                                            <treeview :model="tree"></treeview>
                                                        </div>
                                                </aui-inline-dialog>
                                            </span>
                                            <span ref="pathholder" class="git4c-file">
                                                {{path}}
                                            </span>
                                        </span>
                                        <span v-show="fileData" style="float: right; padding-left: 20px; padding-right: 5px; font-size: 12px">
                                            <span>
                                                Last change:
                                                <a ref="updatetime" class="git4c-link-black" id="git4c-markup-filedata-updatetime" href="javascript:void(0)"><span v-if="fileData">{{fileData.updateTime.toLocaleDateString()}}</span></a>
                                                by
                                                <a ref="author" class="git4c-link-black" id="git4c-markup-filedata-author" href="javascript:void(0)"><span v-if="fileData">{{fileData.authorFullName}}</span></a>
                                            </span>
                                        </span>
                                    </div>
                                    <button ref="raw_file_button" class="aui-button" v-on:click="openDialog()" v-show="hasSource" style="margin-right: 5px">
                                        <span class="aui-icon aui-icon-small aui-iconfont-devtools-file" style="margin-right: 1px">
                                            Show raw markdown
                                        </span>
                                    </button>
                                    <div ref="commit_history_div" style="margin-right: 20px; display: flex; flex-direction: column; justify-content: center">
                                        <commit-history :macro-uuid="macroUuid" :branch="branch" :file="file" ref="commit_history"></commit-history>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <filepreview ref="preview" v-show="!overlayVisible && locationPath!==''" :content="template" :show-toc="locationPath !== ''" :toc="toc" :toolbar-height="41"></filepreview>
                        </div>
                    </div>

                    <filesourcedialog ref="sourcedialog"></filesourcedialog>
                </div>

            </template>

            <template id="nav-collapse">
                <div>
                    <button class="nav-collapse aui-button" title="Hide file tree" v-on:click="expandedtoggle()" style="border: 0; background: transparent">
                        <i id="git4c-filetree-collapse_button" class="aui-icon aui-icon-small aui-iconfont-arrows-left"></i>
                    </button>
                </div>
            </template>

            <template id="fullscreen-trigger">
                    <button v-if="false" class="aui-button" title="Toggle fullscreen mode" @click="toggle()" style="border: 0; background: transparent">
                        <i class="aui-icon aui-icon-small aui-iconfont-focus"></i>
                    </button>
            </template>

            <template id="sticky-toolbar-trigger">
                    <button v-if="false" class="aui-button" v-on:click="toggle()" title="Toggle sticky toolbar" style="border: 0; background: transparent">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
            </template>

            <!--template id="update">
        <button @click="update()" class="aui-button">
            <span v-if="!working">Update</span>
            <span v-else>Updating...</span>
        </button>
    </template-->

        </cut-me-confluence>
    </div>

    <script src="lib/highlight.min.js"></script>
    <script src="lib/vue.min.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <script src="lib/vue-router.min.js"></script>
    <script src="services/url-service.js"></script>
    <script src="services/notify-service.js"></script>
    <script src="services/params-service.js"></script>
    <script src="services/markup-service.js"></script>
    <script src="components/branch.js"></script>
    <script src="components/update-now.js"></script>
    <script src="components/nav-collapse.js"></script>
    <script src="components/markup.js"></script>
    <script src="components/commit-history.js"></script>
    <script src="components/treeview.js"></script>
    <script src="components/toc.js"></script>
    <script src="components/overlay.js"></script>
    <script src="app.js"></script>

</body>
</html>
