#putMetadata('macroResourcePath', $resourcesPath)
#putMetadata('macroParamsJson', $paramsJson)
#requireResource("com.atlassian.auiplugin:dialog2")
#requireResource("com.atlassian.auiplugin:aui-select2")
#requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
#requireResource("com.atlassian.auiplugin:aui-experimental-tooltips")
#requireResourcesForContext("com.networkedassets.git4c.ajscompat")
#requireResourcesForContext("com.networkedassets.git4c.vuejs")
#requireResourcesForContext("com.networkedassets.git4c.highlightjs")
#requireResourcesForContext("com.networkedassets.git4c.prism")
#requireResourcesForContext("com.networkedassets.git4c.components.markup")
#requireResourcesForContext("com.networkedassets.git4c.components.overlay")
#requireResourcesForContext("com.networkedassets.git4c.macroResources")
$macroSectionHtml