.git4c-component-overlay {
    position: absolute;
    display: block;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
}

/* a cage for the dragon */
.dragonCage {
    height: 0;
    width: 0;
    background-image: url(images/404Dragon.png);
}