<html>
<head>
    <meta name="decorator" content="atl.admin" />
    <title>Git4C configuration</title>
</head>
<body>
    <h3>This button will remove all plugin data. Are you sure?</h3>
    <button id="remove_data_button" class="aui-button">Clean data</button>
</body>
</html>
