#content-nav {
   padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.container .git4c-markup-content {
    min-height: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .header {
    /*height: 40px;*/
}

.container .header .right {
    float: right;
}

.container .aui-page-panel-nav {
    border-right: 1px solid #cccccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .aui-page-panel {
    border: 0
}

.container .expanded {
    width: 230px;
}

.container .collapsed {
    width: 0px;
}

.markup .loading {
    display: block;
    margin: auto;
    width: 20%;
}

.markup .git4c-toc {
    margin-bottom: 30px
}

.markup .html-content {
    white-space: normal;
}

/*.markup .html-content code {*/
    /*white-space: pre-wrap;*/
/*}*/

.treeview .node {
    /*position: relative;*/
    padding-left: 3px;
}

.treeview .node label {
    border-radius: 0 3px 3px 0;
    padding-right: 3px;
}

.treeview .node i.fa {
    margin-right: 1px;

}

.treeview .node:hover {
    background-color: #eee;
}


.treeview .node.active {
    font-weight: bold;
}

.treeview {
    height: auto;
}

.treeview.inner {
    border: none;
    height: auto;
    max-height: none;
}

.treeview .node {
    display: inline-block;
    cursor: pointer;
}

.treeview .node label {
    /* Because label has "user-agent" cursor */
    cursor: pointer;
}

.treeview .children {
    overflow: hidden;
}

.treeview .children .margin {
    display: inline-block;
    width: 10px;
}

.treeview .children .nodes {
    display: inline-block;
}

.treeview span.icon {
    width: 20px;
    display: inline-block;
    text-align: center;

}

.treeview .aui-icon {
    color: #999
}

/*.nav-collapsed {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*float: left;*/
/*}*/

.nav-collapsed .aui-button {
    font-size: 12px;
}

.markup {
    white-space: normal;
}

.markup ol.aui-nav-breadcrumbs {
    /* padding: 0.5em 0.8em; */
    /* margin-bottom: 1em; */
}

.markup .git4c-content {
    margin: 0.5em;
}

/* #content-nav.aui-page-panel-nav:not(.expanded) .header {
    display: none;
}

#content-nav.aui-page-panel-nav:not(.expanded) .tree {
    display: none;
} */

/* #content-nav.aui-page-panel-nav:not(.expanded) .git4c-branch {
    display: none;
} */

.markup-action-buttons {
    float: right;
    margin-right: 20px;
}

/* #content-nav.aui-page-panel-nav:not(.expanded) {
    padding-right: 1px;
} */

#git4c-main-content {
    border: 1px solid #cccccc;
}

#git4c-main-content .aui-button {
    margin-top: 0;
}

#git4c-breadcrumbs-div {
    background: #eee;
    height: 50px;
}

.git4c-branch {
    position: relative;
    width: 210px !important;
}

.git4c-branches-dropdown {
    min-width: 210px;
    max-width: 210px;
    width: 210px !important;
    margin-left: 20px;
    margin-bottom: 10px !important;
}

.git4c-branch .git4c-branches-dropdown {
    margin-bottom: 20px;
}
.git4c-no-top-margin {
    margin-top: 0 !important;
}

.git4c-code {
    border: 1px #D8D8D8 solid;
    background-color: #F5F5F5 !important;
    border-radius: 5px;
}

.git4c-no-right-padding {
    padding-right: 0px !important;
}

.git4c-no-padding {
    padding: 0px !important;
}

#git4c-content {
    padding: 10px;
}

.git4c-directory {
    color: #707070
}

.git4c-file {
    color: #333;
    font-weight: bold
}

.git4c-border-bottom {
    border-bottom: 1px solid #cccccc;
}

.git4c-move-button {
    z-index: 1000;
    position: absolute;
    margin-top: auto !important;
    margin-bottom: auto !important;
    top: 0px;
    bottom: 0px;
    transform: translateX(-55px);
}

#git4c-branch-arrow-holder {
    width: 100%;
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#git4c-fullscreen-trigger {
    order: 1;
}



#git4c-nav-collapse-span {
    order: 3;
    right: 0;
    margin-left: auto
}



#content-nav {
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

/* #content-nav */
#content-nav .blur {
    transition: 0.5s filter linear;
    -webkit-transition: 0.5s -webkit-filter linear;
    -moz-transition: 0.5s -moz-filter linear;
    -ms-transition: 0.5s -ms-filter linear;
    -o-transition: 0.5s -o-filter linear;
}

#content-nav.aui-page-panel-nav:not(.expanded) .blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.git4c-first-ul {
    padding-left: 0 !important;
}

.git4c-unclickable-link {
    cursor: default !important;
    color: black !important;
    text-decoration: none !important;
}

.git4c-image {
    max-width: 100%;
}

pre .git4c-code {
    display: block;
    padding: 0.5em;
}

#git4c-dialog-code {
    white-space: pre-wrap;
}

.git4c-prismjs-code {
    /* https://github.com/PrismJS/prism/issues/1132 */
    display: inline-block;
}

pre.line-numbers {
    padding-left: 0 !important;
}

#git4c-content pre[class*="language-"] {
    margin: 0;
}

#git4c-content :not(pre) > code {
    padding-left: 5px;
    padding-right: 5px;
}

.git4c-globs-container {
    white-space: normal
}

.git4c-current-branch-div {
    overflow: hidden;
    word-break: break-all;
    width: 170px;
}

.git4c-white-aui-dropdown2 {
    background-color: white !important;
}

.git4c-white-aui-dropdown2:focus {
    background-color: white !important;
}

.git4c-branch > .aui-dropdown2-active {
    background-color: #dddddd !important;
}

/*TODO: Fix dot near selected element*/
/*#git4c-branches .aui-dropdown2-radio:hover {*/
   /*background-color: #e9e9e9;*/
   /*color: black;*/
/*}*/

.git4c-toc li:hover .git4c-toc-li-content {
    background-color: #eee;
}

.git4c-toc-li-content a {
    text-decoration: none;
}

.git4c-link-black {
    color: black !important;
}

/* Asciidoc fixes */

.git4c-tree-container {
    background-color: white;
    /*border: 2px solid black;*/
}

#git4c-content .sect1 {
    margin-top: 30px;
}

#git4c-content .sect2 {
    margin-top: 30px;
}

#git4c-content .sect3 {
    margin-top: 30px;
}

#git4c-content .sect4 {
    margin-top: 20px;
}

#git4c-content .sect5 {
    margin-top: 20px;
}

#git4c-content .sect6 {
    margin-top: 20px;
}

#git4c-content .sect1:first-child,
#git4c-content .sect2:first-child,
#git4c-content .sect3:first-child,
#git4c-content .sect4:first-child,
#git4c-content .sect5:first-child,
#git4c-content .sect6:first-child {
    margin-top: 0;
}

#git4c-main-content i.aui-iconfont-collapsed {
    /* Default icon is not cented so we must do it ourselved */
    height: 10px !important;
    margin-top: 4.5px;
}
