#putMetadata('macroResourcePath', $resourcesPath)
#putMetadata('macroParamsJson', $paramsJson)
#requireResource("com.atlassian.auiplugin:dialog2")
#requireResource("com.atlassian.auiplugin:aui-select2")
#requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
#requireResource("com.atlassian.auiplugin:aui-experimental-tooltips")
#requireResource("com.atlassian.auiplugin:aui-spinner")
#requireResourcesForContext("com.networkedassets.git4c.vuejs")
#requireResourcesForContext("com.networkedassets.git4c.api")
#requireResourcesForContext("com.networkedassets.git4c.ajscompat")
#requireResourcesForContext("com.networkedassets.git4c.stickykit")
#requireResourcesForContext("com.networkedassets.git4c.highlightjs")
#requireResourcesForContext("com.networkedassets.git4c.prism")
#requireResourcesForContext("com.networkedassets.git4c.filepreview")
#requireResourcesForContext("com.networkedassets.git4c.editdialog")
#requireResourcesForContext("com.networkedassets.git4c.components.markup")
#requireResourcesForContext("com.networkedassets.git4c.components.overlay")
#requireResourcesForContext("com.networkedassets.git4c.utils")
#requireResourcesForContext("com.networkedassets.git4c.commithistory")
#requireResourcesForContext("com.networkedassets.git4c.singleFileMacro")
#requireResourcesForContext("com.networkedassets.git4c.components.toc")
#requireResourcesForContext("com.networkedassets.git4c.sourcedialog")

<div id="app-${UUID}-${RANDOM}" class="git4c-singlefile-app">
    <topbar ref="topbar" v-show="showTopBar" :branch-name="branchName" :edit-branch="editBranch" style="z-index: 90"></topbar>
    <div v-show="!collapsed">
        <overlay>
            <topbartoggler v-show="!showTopBar" :edit-branch="editBranch" ref="topbartoggler" style="z-index: 90"></topbartoggler>
            <filecontent v-show="!collapsed" v-bind:class="{ 'git4c-edited-background-color': editBranch }" :show-line-numbers="lines" :content="content" :show-toc="showToc" :toc="toc" :toolbar-height="41"></filecontent>
        </overlay>
    </div>
    <git4csourcedialog ref="sourcedialog"></git4csourcedialog>
    <git4ceditdialog ref="editdialog"></git4ceditdialog>
    <git4cinfodialog :edit-branch="editBranch" :original-branch-name="originalBranchName" :branch-name="branchName" :file-location="locationPath" :repository-name="repositoryName" ref="infodialog"></git4cinfodialog>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" integrity="sha256-U//RSeH3TR3773Rk+1lAufJnRjEaG5LcdbvGV72kHEM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-modelist.js" integrity="sha256-i0OqQaptcaStnjDX8HR+vkkvOLXoAUBAquwMvnqmLTU=" crossorigin="anonymous"></script>

<script type="text/javascript">

AJS.toInit(function () {
    const uuid = "$UUID"
    const random = "$RANDOM"
    const showLineNumbers = $LINENUMBERS
    const showTopBar = $SHOWTOPBAR
    const collapseByDefault = $COLLAPSEBYDEFAULT
    const collapsible = $COLLAPSIBLE
    const toc = $TOC
    const fileEditEnabled = $EDITINGENABLED
    Git4CSingleFileMacro.start(uuid, random, showLineNumbers, collapsible, showTopBar, collapseByDefault, toc, fileEditEnabled)
})


</script>