#putMetadata('macroResourcePath', $resourcesPath)
#putMetadata('macroParamsJson', $paramsJson)
#requireResource("com.atlassian.auiplugin:dialog2")
#requireResource("com.atlassian.auiplugin:aui-select2")
#requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
#requireResource("com.atlassian.auiplugin:aui-experimental-tooltips")
#requireResource("com.atlassian.auiplugin:aui-spinner")
#requireResourcesForContext("com.networkedassets.git4c.ajscompat")
#requireResourcesForContext("com.networkedassets.git4c.vuejs")
#requireResourcesForContext("com.networkedassets.git4c.highlightjs")
#requireResourcesForContext("com.networkedassets.git4c.prism")
#requireResourcesForContext("com.networkedassets.git4c.filepreview")
#requireResourcesForContext("com.networkedassets.git4c.editdialog")
#requireResourcesForContext("com.networkedassets.git4c.components.markup")
#requireResourcesForContext("com.networkedassets.git4c.components.overlay")
#requireResourcesForContext("com.networkedassets.git4c.utils")
#requireResourcesForContext("com.networkedassets.git4c.singleFileMacro")
#requireResourcesForContext("com.networkedassets.git4c.components.toc")

<div id="app-${UUID}-${RANDOM}" class="git4c-singlefile-app">
    <topbar v-if="showTopBar" :edit-branch="editBranch"></topbar>
    <div v-show="!collapsed">
        <overlay>
            <div class="git4c-singlefile-toc" v-show="showToc && toc && toc.children.length > 0">
                <toc parent="#app-${UUID}-${RANDOM}" :data="toc"></toc>
            </div>
            <div class="git4c-singlefile-content git4c-any-content"
                 v-bind:class="{ 'git4c-singlefile-content-markdown': markdown, 'git4c-single-dialog-no-line-numbers': !lines, 'git4c-singlefile-no-height': showsError }"
                 v-show="!collapsed">
                <filecontent :lines="lines" parent="#app-${UUID}-${RANDOM}" :template="content"></filecontent>
            </div>
        </overlay>
    </div>
    <git4csourcefiledialog ref="editdialog"></git4csourcefiledialog>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" integrity="sha256-U//RSeH3TR3773Rk+1lAufJnRjEaG5LcdbvGV72kHEM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-modelist.js" integrity="sha256-i0OqQaptcaStnjDX8HR+vkkvOLXoAUBAquwMvnqmLTU=" crossorigin="anonymous"></script>

<script type="text/javascript">

AJS.toInit(function () {
    const uuid = "$UUID"
    const random = "$RANDOM"
    const showLineNumbers = $LINENUMBERS
    const showTopBar = $SHOWTOPBAR
    const collapseByDefault = $COLLAPSEBYDEFAULT
    const collapsible = $COLLAPSIBLE
    const toc = $TOC
    const fileEditEnabled = $EDITINGENABLED
    Git4CSingleFileMacro.start(uuid, random, showLineNumbers, collapsible, showTopBar, collapseByDefault, toc, fileEditEnabled)
})


</script>